<div>
    <div class="row">
       <div class="col">
       <div class="btn-group btn-group-sm pl-5">
          <button type="button" class="btn btn-primary" (click)="onbtnGroupClick('1')">YTD</button>
          <button type="button" class="btn btn-primary" (click)="onbtnGroupClick('2')">3 Months</button>
          <button type="button" class="btn btn-primary" (click)="onbtnGroupClick('3')">6 Months</button>
        </div>
       </div>
       <div class="col">
        
          <select [(ngModel)]="selectedValue" id="opt">
            
             <option *ngFor="let item of ddata; let i = index" [value]="i">
               {{item}}
             </option>
           </select>
       </div>
    </div>
    <div class="chart-wrapper">
        <canvas baseChart 
            [datasets]="lineChartData" 
            [labels]="lineChartLabels" 
            [options]="lineChartOptions"
            [colors]="lineChartColors" 
            [legend]="lineChartLegend" 
            [chartType]="lineChartType" 
            [plugins]="lineChartPlugins">
        </canvas>
    </div>
    <div class="pl-5" *ngIf="selectedValue">
       <div >
       <b>Total Plan Balance as of <br>  {{ddata[selectedValue]}}</b>
       <table class="table table-striped">
        <thead>
          <tr>
            <th>BALANCE TYPE</th>
            <th>BALANCE BREAKDOWN</th>
            <th>BALANCE</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Paticipant Balances</td>
            <td>10%</td>
            <td>$66000</td>
          </tr>
          <tr>
            <td>Outstanding Account Balance</td>
            <td>20%</td>
            <td>$132000</td>
          </tr>
          <tr>
            <td>Paticipant Core Fund Account</td>
            <td>30%</td>
            <td>$198000</td>
          </tr>
          <tr>
            <td>Self Directed Brokerage</td>
            <td>20%</td>
            <td>$132000</td>
          </tr>
          <tr>
            <td>Expence Budget Account</td>
            <td>40%</td>
            <td>$264000</td>
          </tr>
          <tr>
            <td>Account</td>
            <td>10%</td>
            <td>$66000</td>
          </tr>
        </tbody>
      </table>
       </div>
    </div>
    </div>
    



